*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(214, 211, 211);
    font-size:clamp(18px,1.5vw,56px);
}
body{
    background-color:rgb(10, 9, 9);
}

section{
    max-width: 1800px;

}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

 section.view1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    background-color: black;


    .top{
        width: 100%;
        
        img{
            width: 100%;
            border-radius: 0.5rem;

        }
    }
    .bottom{
        width: 100%;
        background-color: rgb(43, 41, 41);
        color: rgb(208, 206, 206);
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 3rem;
        display: flex;
        flex-direction: column;
        opacity: 0.8;
        h6{
            gap: 0.3;
            font-size: 0.7rem;
            font-weight: 200;


        }
        .text{
            gap:0.7rem;
            display: flex;
            flex-direction: column;
            color: aliceblue;
            flex-wrap:nowrap;
        h5{

            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 300;
            gap: 2rem;
            letter-spacing: 2px;
        }
        p{
            gap: 2rem;
            font-size: 0.8rem;
            font-weight: 20;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            flex-direction: column;
            letter-spacing: 2px;
            opacity: 0.5;
    
        }
        .paragraph{
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    font-size: medium;

        
        .icon{
                        width: fit-content;
                        background-color: rgba(182, 181, 181, 0.547);  
                        border: 1px solid rgb(157, 150, 150);
                        border-radius: 50%;
                    }

                    button{
                    border: none;
                    outline: none;
                    color: rgb(225, 227, 230);
                    background-color: rgba(53, 50, 50, 0.65);
                    border-radius: 5px;
                    padding: 2px;
                    width: fit-content;
                }
            }

        }
    }
}

section.view2{
    display: flex;
 flex-direction: column;
    padding: 1rem 2rem;
    gap: 2rem;
    width: 100%;


    .top,.bottom{
         
        display: flex;
        width: 100%;
        justify-content: space-around;


        .element{
            align-items: center;
            flex-direction: column;
            gap: 1rem;
        small{
            font-size: 0.5rem;
            font-weight: 200;
        }
        h5{
            font-size:1rem;
            font-weight: 100;
        }
    }
    }
    
}section.view3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.7rem;
    background-color: black;


    .top{
        width: 100%;
        
        img{
            width: 100%;
            border-radius: 0.5rem;

        }
    }
    .bottom{
        width: 100%;
        background-color: rgb(46, 45, 45);
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 3rem;
        display: flex;
        flex-direction: column;
        color: rgb(191, 193, 194);

        h6{

            font-size: 0.8rem;
            font-weight: 600;
        }
        .text{

            h5{
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 400;
            }

            .paragraph{
                font-size: 1rem;
                font-weight: 400;
                opacity: 0.5;
    
            }


        }
    } 
}

    section.view4{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.7rem;
    background-color: black;


    .top{
        width: 100%;
        
        img{
            width: 100%;
            border-radius: 0.5rem;

        }
    }

    
        .bottom{
        width: 100%;
        background-color: rgb(46, 45, 45);
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 3rem;
        display: flex;
        flex-direction: column;
        color: rgb(191, 193, 194);

        h6{
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 600;
        }
        .text{

            h5{
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 400;
            }

            .paragraph{
                font-size: 1rem;
                font-weight: 400;
                opacity: 0.5;
    
            }


        }
        } 
    }
    section.view5{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem;


        .card1{
        background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-800.webp);
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        

        .icon,.bottom{
            background-color:rgba(119, 118, 118, 0.568);
            backdrop-filter:blur(5px);
            width: 100%;
            border-radius: 0.5rem;
            border: 0.2px solid beige;
            padding: 1rem;
        }
        .top{
            display: flex;
            justify-content: flex-end;
            gap: 0.7rem;

        }
        .icon{
            width: fit-content;
            border-radius: 50%;
            padding: 0.5rem;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            padding: 1rem;


            h6{
                font-size: 0.8rem;
                font-weight:400;
            }
            
        }
    }
    .card2{
        background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-800.webp);
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        
        .icon,.bottom{
            background-color:rgba(119, 118, 118, 0.568);
            backdrop-filter:blur(5px);
            width: 100%;
            border-radius: 0.5rem;
            border: 0.2px solid beige;
            padding: 1rem;
        }
        .top{
            display: flex;
            justify-content: flex-end;
            gap: 0.7rem;

        }
        .icon{
            width: fit-content;
            border-radius: 50%;
            padding: 0.5rem;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            padding: 1rem;


            h6{
                font-size: 0.8rem;
                font-weight:400;
            }
            
        }


    }

    .card3{
        background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-800.webp);
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        
        .icon,.bottom{
            background-color:rgba(119, 118, 118, 0.568);
            backdrop-filter:blur(5px);
            width: 100%;
            border-radius: 0.5rem;
            border: 0.2px solid beige;
            padding: 1rem;
        }
        .top{
            display: flex;
            justify-content: flex-end;
            gap: 0.7rem;

            .icon{
            width: fit-content;
            border-radius: 50%;
            padding: 0.5rem;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            h6{
                font-size: 0.8rem;
                font-weight:400;
            }
            
        }
        }
}
    }
    section.view6{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .top{
            width: 100%;
            background-size: cover;

            img{
                width: 100%;
                border-radius: 0.5rem;
            }
        }

            .bottom{
                width: 100%;
                background-color:rgba(26, 24, 24, 0.696) ;
                color: rgb(197, 199, 200);
                display: flex;
                flex-direction: column;
                padding: 2rem 2rem;
                border-radius: 0.5rem;
                gap: 0.5rem;

                h6{
                    font-size: 0.8rem;
                    font-weight: 400;
                    opacity: 0.5;
                }

                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    
            
                h5{
                    font-size: 2rem;
                    font-weight: 400;
                }

                .paragraph{
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    font-size: medium;

                    .icon{
                        width: fit-content;
                        background-color: rgba(182, 181, 181, 0.547);  
                        border: 1px solid rgb(157, 150, 150);
                        border-radius: 50%;
                    }

                
                button{
                    border: none;
                    outline: none;
                    font-weight: 600;
                    font-size: medium;
                    color: rgb(225, 227, 230);
                    background-color: rgba(53, 50, 50, 0.65);
                    border-radius: 5px;
                    padding: 2px;
                    width: fit-content;
                }

            }
            }
        
        }
    }

        section.view7{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            align-items: center;



            .top{
            padding: 2.4rem;
            background-color: rgb(223, 223, 103);
            background-size: cover;
            width: 100%;
            border-radius: 0.5rem;
            gap: 1rem;
            word-spacing: 5px;
            letter-spacing: 2px;
            opacity: 0.8;
            
            

            h5{
                color: black;
                font-size: 0.8rem;
                font-weight: 350;
                
            }
            .text{
            h6{
                color: black;
                font-size: 2rem;
                font-weight: 370;
                display: flex;
                flex-direction: column;
            }

            .footer{
                
            
                button{
                    color: aliceblue;
                    background-color: black;
                    border-radius: 0.3rem;
                    border: none;
                    padding: 0.8rem;
                    display: flex;
                   flex-direction: row;
                   justify-content: space-between;
                   gap: 0.5rem;
    

                    .icon{
                    font-size: medium;
                    font-weight: 500;
                }
    
                }

                
            }
            }
            

            }
        }
    
}





























  @media (min-width:900px){
    main{


        section.view1{
            flex-direction: row;
            gap: 1rem;


            .top,.bottom{
                width: 50%;
            }

            .bottom{
                flex-direction: column;
                gap: 2rem;
                padding: 1rem;
                justify-content: space-between;
            h6{
              font-size: 1rem;
                }


                .text{
             h5{
                font-size: 1.8rem;
                word-spacing: 2px;
                font-weight: 20rem;
            }
            p{
                font-weight: 50;
                font-size: 1rem;
                word-spacing: 5px;
                font-weight: 0.5rem;
                
                
            }
        
        
            button{
                font-size: 1rem;
            }
        }   


        }

        }

        section.view2{
        flex-direction: row;
        opacity: 0.8;
        padding: 1rem 4rem;

        }

        section.view3{
            flex-direction: row;
            gap: 1rem;
            


            .top,.bottom{
                width: 50%;
            }

            .bottom{
                flex-direction: column;
                gap: 2rem;
                padding: 1rem;
                justify-content: space-between;

                .paragraph{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                }

        
        }
    }
     section.view4{
            flex-direction: row-reverse;
            gap: 1rem;
            


            .top,.bottom{
                width: 50%;
            }

            .bottom{
                flex-direction: column;
                padding: 1rem;
                justify-content: space-between;
                 opacity: 0.8;
                 
                
                .paragraph{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                }

        
        }
    }

    section.view5{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }


    section.view6{
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        .top,.bottom{
            width: 50%;
        }

        .bottom{
            padding: 2rem 3rem;


            h6{
                font-size: 1rem;
                font-weight: 400;
            }
        
            .text{
                display: flex;
                flex-direction: column;
                gap: 6rem;


                h5{
                    font-size: 1.8rem;
                    font-weight: 400;
                    word-spacing: 5px;
                }
            }
        }
    }

    section.view7{
    

        .top{
            padding: 2rem;ggg
            h5{
                font-size: 1.5rem;
            }

            .text{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
            h6{
                font-size: 2.5rem;
            }

            .footer{
                display: flex;
                flex-direction: row;
                justify-content:flex-end;
                
                }
            }
        }
        }
    }
}









